.secular-one-regular {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  font-family: 'Secular One', sans-serif; 
  overflow-x: hidden; /* Desativa rolagem horizontal */
  margin: 0; /* Remove qualquer margem extra */
  padding: 0; /* Remove qualquer padding extra */
  width: 100%; /* Garante que a largura não ultrapasse 100% */
  box-size: 0;
  
}

